.payment-mode {
    width: 25rem;
    font-size: 1.1rem;
    margin-bottom: 2.5rem;
}
.payment-description {
    padding: 10px 0 0 1.25rem;
    font-size: 14px;
}
@media (max-width: 480px) {
    .payment-mode {
        width: 15.625rem;
    }
}