.no-data {
    height: 31.25rem;
    width: 31.25rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@media (max-width: 1024px) {
    .no-data {
        height: 18.75rem;
        width: 18.75rem;
    }
}