.input {
    margin-top: 8px;
}
.form-box {
    display: block;
    margin:  0 auto;
    width: 25rem;
}
.form-btn {
    padding: 0 15px;
    margin-bottom: 1rem;
}
.input-icon {
    top: 2.3rem!important;
    right: 0%;
}
.error {
    color: var(--color-danger);
    font-size: 1rem;
    font-weight: bold;
}

@media (max-width: 480px) {
    .form-box {
        width: 16rem;
    }
    .form-btn {
        padding: 0 8px;
    }
}
