.shipping-address {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    gap: 2rem;
    height: 12.5rem;
}
.card-text {
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    position: relative;
}
.address-description {
    list-style: none;
    padding: 5px;
    font-size: 12px;
}
.btn-remove {
    padding: 5px;
    font-size: 12px;
    position: absolute;
    right: 10px;
    bottom: 10px;
}
@media (max-width:480px) {
    .shipping-address {
        margin: 0 auto;
        width: 15.625rem;
    }
}
