.personal-information {
    padding: 1.875rem;
    margin: 0 auto;
}
.personal-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    margin-top: 15px;
}
.user-email  {
    font-size: 1.4rem;
}

.user-name {
    font-size: 1.25rem;
}
.address-header {
    text-align: center;
    padding: 5px 0;
    border: 1px solid #333;
    border-radius: 5px;
}
.address-details {
    display: grid;
    grid-template-rows: 2.18rem 12.5rem 2.18rem;
    margin-top: 2.5rem;
    height: 16.875rem;
    width: 18.75rem;
}
.address-default {
    margin-right: 10px;
}

@media (max-width: 480px) {
    .personal-information {
        width: 18.75rem;
        padding: 1rem;
    }
    .address-details {
        width: 100%;
    }
}