.checkout {
    height: 90vh;
   padding: 1.875rem;

}
.delivery-form >.form-box > .form-control {
    margin-top: 0;
    height: 4.375rem
}
.delivery-form >.form-box > .form-btn {
    margin-top: 2.5rem !important;
}
.delivery-form {
    margin: 1.25rem;
    padding: 1.25rem;
    width: 31.25rem;
    height: 80vh;
}

.delivery-details {
    display:grid;
    grid-template-rows: 15.625rem auto 2.5rem;
    margin: 0 auto;
}
.delivery-assets {
    display: grid;
    grid-template-columns: auto auto;
}


