.navbar {
    padding: 0 3rem;
    border-bottom: 2px solid var(--color-primary);
    font-size: 16px
}
.navbar-link:not(:last-child) {
    margin-right: 1rem;
}
.nav-form {
    position: relative;
    width: 18.75rem;
}
 .nav-icon {
    position: absolute;
    top: -5%;
    padding: 0.625rem;
    color: var(--color-primary);
}
.nav-icon+.input {
    padding-left: 2rem;
}
.nav-img{
    top: 5px;
    position: absolute;
    height: 2.5rem !important;
    width: 2.5rem !important;
}
@media (max-width: 1024px) {
    .nav-img{
        top: 10px;
        height: 2rem !important;
        width: 2rem !important;
        margin-left: 10px;
    }
}

@media (max-width: 480px) {
    .nav-form {
        display: none !important;
    }
    .navbar-list {
       margin: 0 0 !important;
    }
    .navbar-items > .btn {
        font-size: 10px ;
        padding: 6px 10px;
    }
    .navbar-link > .icon {
        font-size: 1.5rem;
    }
}
