.cart-details {
    display: grid;
    grid-template-columns: 6.25rem 1fr 1fr;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 1.25rem;

}
.cart-quantity {
    margin-left: 1.875rem;
    margin-right: 0;
}
