@import url("https://enma1.netlify.app/packages/index.css");
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Hubballi&family=Quicksand&display=swap');

body {
    font-family: 'Gowun Dodum', sans-serif;
    font-family: 'Hubballi', cursive;
    font-family: 'Quicksand', sans-serif;
    height: 100vh;
}