.collection {
    width: 50%;
    display: grid;
    grid-template-columns: 9.375rem 9.375rem;
    grid-template-rows: 9.375rem 9.375rem;
    gap: 10px;
    margin: 0 auto;
}
.collection-header {
    font-size: 3rem;
    font-family: cursive , sans-serif;
    text-align: center;
    padding: 4rem;
}
.collection-items {
    background-size: cover;
    position: relative;
}
.collection-name {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, 50%);
    color: #fff
}

@media (max-width: 480px) {
    .grid-1-2 {
        grid-template-columns: auto !important;
    }
    .collection-container {
        width: 18.75rem;
    }
    .collection {
        grid-template-columns: 5rem 5rem;
        grid-template-rows: 5rem 5rem ;
    }
}
